.productsandservices_row2_container{
    /* @media screen and (min-width: 1000px) and (max-width: 1500px) {
        background-color: purple;
        margin: auto;
    } */
    min-width: 1200px;
    max-width: 2500px;
    /* margin: 0px;  */
    /* above to make it remain within the center of the container */
    display:flex;
    flex-direction: row;
    /* padding: -39px; */
    z-index: 10;
  }
  
  
  .productsandservices_display_row_2_card {
      display:flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 0px;
      /* margin: 0px; */
      position: relative;
      margin-top: 0px;
      margin-bottom: 0px;
      z-index: 10;
  } 
  .container_row_2_cardsx4 {
      display:flex;
     flex-direction:row;
      flex-wrap: wrap;
      opacity: 1;
      background-color:none;
      /* max-width: 1300px; */
      /* margin: 0;  */
      /* margin-top: 150px;
      margin-left: 50px; */
      /* justify-content: space-around; */
      z-index: 5;
    }
  
     .box_single {
      display:flex;
      flex-direction: column;
      background-color: whitesmoke;
      /* background-color: rgb(170, 206, 220); */
      width:340px;
      height: 450px;
      margin: 1px 5px 5px 1px;
      padding: 10px;
      box-shadow: 2px 2px 5px #000;
      border-radius: 6px;
      contain:content;
      align-items:normal;
      color: #000;
    }
  /* 
    .img {
      width: 245px;
      height: 245px;
      object-fit: contain;
    } */
    .product-image {
      width: 245px;
      height: 245px;
      object-fit: cover; /* This ensures the image covers the area without losing its aspect ratio */
    }
  
    .category-image {
      width: 300px;
      height: 330px;
      object-fit:initial; /* This ensures the image covers the area without losing its aspect ratio */
    }
  
  
    
    .page__row {
      width:auto;
      display: block;
      /* height: 0px; */
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 0;
      z-index: 1;
      margin-left: 3px;
      margin-right: 3px;
  }
  
  .category_box_content{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* padding: 10px; */
    /* margin: 10px; */
    /* border-radius: 10px; */
    background-color: #f5f5f5;
    box-shadow: 2px 2px 5px #000;
    width: 300px;
    height: 300px;
    color: #000;
  }

  .addToCartButton {
    background-color: #f1cf0d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }

  .buyRightaway{
    background-color: pink;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }