.product_main_container{
    display: block;
    grid-row: auto;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
  
  }
  
  .productOne{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: 100%;
    padding: 10px 10px; 
    background-color: white;
    font-family: 'Noto sans KR', Arial, sans-serif;
    
    color: black;
  }
  
  .productImageContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0 45px;
  
  }
  
  .mainImageContainer{
    width: 457px;
    height: 485px;
    display: block;
    margin-top: 25px;
  }
  
  .mainImage{
    width: 457px;
    height: 485px;
    cursor: pointer;
  }
  
  .miniImageContainer{
    display: flex;
     margin: 30px 20px;
     justify-content: center;
  }
  
  .miniImage{
    width: 80px;
    height: 80px;
    margin: 10px 5px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  
  .miniImg{
    width: 90%;
    height: 90%;
    object-fit: contain;
  
  }
  
  .productDetailsContainer{
    color: rgb(15, 17, 17);
    margin-bottom: 14px;
  }
  .productDetailsContainer{
    text-align: left;
    margin: 0 10px;
    width: 600px;
    display: block;
    font-size: 24px;
    margin: 5px 5px 5px 0;
  }
  
  .productName{
    font-size: 40px;
    height: auto;
    margin: 5px 5px 5px 0;
    font-weight: 700;
  }
  .productDescription{
    font-size: 24px;
    height: auto;
    margin: 5px 5px 5px 0;
  font-weight: 500;
  }
  
  
  
  .productStore, .productRatingNumbers{
    color: rgb(0, 113, 113);
    font-size: 14px;
    cursor: pointer;
   
  }
  
  .productRatingNumbers{
    margin-left: 10px;
  }
  
  .productStore:hover, .productRatingNumbers:hover, .report:hover{
    color: rgb(199, 81, 31);
    text-decoration: underline;
  }
  
  .productRatingSection{
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  .productRatingPoints{
    font-size: 15px;
  }
  
  .productRatingSection, .productRatingStars{
    background-image: url(https://m.media-amazon.com/images/S/sash/9DuIV8ZS5i377uD.png);
    background-position-x: -2px;
    background-position-y: -23px;
    background-size: 512px;
    width: 80px;
    height: 18px;
    display: inline-block;
  }
  
  .productArrowIcon{
    background-image: url(https://m.media-amazon.com/images/S/sash/McBZv0ZvnbehkIx.png);
    background-position-x: -90px;
    background-position-y: -5px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 10px;
    height: 5px;
  }
  
  
  .productPriceSection{
    display: block;
  }
  
  .productPricebox{
    display: block;
  }
  
  .productDiscount{
    color: rgb(204, 12, 57);
    font-size: 24px;
    margin-right: 3px;
  }
  
  .productPriceSymbol{
    margin-left: 10px;
    margin-top: 5px;
    vertical-align: top;
    font-size: 13px;
  }
  
  .productPrice{
    font-size: 28px;
  }
  
  .productMrp{
    font-size: 12px;
    margin-bottom: 8px;
    text-decoration: line-through;
    color: rgb(86, 89, 89);
  }
  
  .taxes{
    font-size: 14px;
  }
  
  .productPriceSection hr{
  margin-top: 12px;
  margin-bottom: 8px;
  }
  
  .offers{
    margin-bottom: 15px;
  }
  
  .offersHeading{
    display: flex;
    margin-bottom: 10px;
  }
  
  .offerIcon{
    background-image: url(https://m.media-amazon.com/images/G/31/A2I_CEPC/VSX/vsx_sprite_2x.png);
    display: block;
    width: 25px;
    height: 25px;
    background-size: 25px;
    background-position-x: -25px;
    background-position-y: -25px;
  }
  
  .offerText{
    font-size: 14px;
    font-weight: 700;
    padding-left: 14px;
  }
  
  .offerBoxContainer{
    display: flex;
  }
  
  .offerBox{
    width: 154px;
    height: 100px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 4px 0px;
    padding: 7px 10px;
    margin-right: 7px;
  }
  
  .offerType{
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 5px;
  }
  
  .offerBox p{
    width: 134px;
    font-size: 13px;
    height: 54px;
  }
  
  .services{
    display: flex;
    justify-content: space-around;
    align-items: start;
    cursor: pointer;
  }
  
  .servicesIcon{
    width: 35px;
    height: 35px;
    display: block;
  }
  
  .serviceText{
   color: rgb(0, 113, 113);
    font-size: 12px;
    text-align: center;
    display: block;
    text-wrap: wrap;
  }
  
  .serviceDivs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90px;
  }
  
  .specifications{
    height: 160px;
    overflow: hidden;
  }
  
  .specsTitle{
    font-size: 14px;
    font-weight: 700;
    width: 135px;
    display: inline-block;
    margin-right: 10px;
  }
  
  .specs{
    font-size: 14px;
    width: 500px;
  }
  
  tbody{
    display: flex;
    align-items: baseline;
  }
  
  .seemore{
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .seemoreIcon{
    background-image: url(https://m.media-amazon.com/images/S/sash/McBZv0ZvnbehkIx.png);
    background-position-x: -90px;
    background-position-y: -5px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    width: 10px;
    height: 5px;
  }
  
  .seemoreText{
    font-size: 14px;
    color: rgb(0, 113, 113);
  }
  
  .seemore:hover{
    color: rgb(199, 81, 31);
    text-decoration: underline;
  }
  
  .aboutThisItem ul{
  margin-left: 10px;
  }
  
  .aboutThisItemHeading {
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 4px;
  }
  
  .aboutThisItem li{
    list-style: disc;
    font-size: 14px;
  }
  
  .report{
    font-size: 14px;
    color: rgb(0, 113, 113);
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .reportIcon{
    background-image: url(https://m.media-amazon.com/images/S/sash/zpbG74laklgnz-i.png);
    background-position-x: -218px;
    background-position-y: -79px;
    background-size: 512px;
    width: 19px;
    height: 19px;
    display: inline-block;
    margin-right: 10px;
  }
  
  .productPurchaseContainer{
    border: solid rgb(213, 217, 217) 0.0px;
    height: 100%;
    margin-top: 10px;
    border-radius: 8px;
    padding: 14px 18px;
    width: 600px;
    text-align: left;
  }
  
  .deliveryandpick_choose_borderbox{
    border: 2px inset gray;
    border-radius: 10px;
  }
  
  .productPricebox .productPriceSymbol{
    margin-bottom: 25px; 
    font-size: 25px;
  }
  
  .productPricebox .productPrice{
    font-size: 28px;
    margin-bottom: 30px;
    margin-left: 1px;
  }
  
  .productDeliveryType{
    font-weight: 600;
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
  
  }
  
  .deliveryDateSection {
    display:grid;
    flex-direction: row;
    font-size: 20px;
    height: 100px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    
  }
  
  .deliveryDateSection .date, .orderwithinTime{
    font-weight: 700;
    margin: 2px;
  }
  
  .deliveryDateSection .orderwithinTime{
   color: rgb(0, 118, 0);
  }
  
  .details{
    color: rgb(0, 113, 113);
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0px;
  }
  
  .primeLogo{
    background-image: url(https://m.media-amazon.com/images/G/01/marketing/prime/new_prime_logo_RGB_blue._CB426090081_.png);
    width: 80px;
    height: 50px;
    background-size: 80px;
    display: block;
    margin-right: 10px;
  
  }
  .prime{
    color: rgb(0, 113, 113);
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0px;
    border: 2px inset gray;
    border-radius: 10px;
  }
  
  .prime h4{
    font-size: 14px;
    margin-left: 10px;
    color: black;
  }
  
  .primeLogo:hover{
    background-image: url(https://m.media-amazon.com/images/G/01/marketing/prime/new_prime_logo_RGB_blue._CB426090081_.png);
  }
  
  .deliveryLocation, .locationIcon{
  /* width: 12px; */
  display: flex;
  margin-top: 2px;
  margin-right: 5px;
  margin-left: 0px;
  }
  
  
  .locationbox{
    color: rgb(0, 113, 113);
    font-size: 12px;
    margin-left: 0px;
  }
  
  .stockAvailability{
    color: rgb(0, 118, 0);
    font-size: 18px;
    margin-bottom: 10px;
    /* height: 100px; */
  }
  
  .shippingInfo, .sellingInfo{
    font-size: 12px;
  }
  
  .soldBy, .shipsFrom{
    text-wrap: nowrap;
    padding-right: 5px;
  }
  
  .sellerCompanyName{
    color: rgb(0, 113, 113);
    margin-left: 20px;
  }
  
  .shippingContainer{
    margin-bottom: 12px;
  }
  
  .quantity{
    margin-bottom: 12px;
  }
  
  .quantityTitle {
    font-size: 14px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 5px;
  }
  
  .quantityBox{
    border-radius: 4px;
    border: solid rgb(221, 221, 221) 0.8px;
  }
  
  .cartSection{
    display: block;
    flex-direction: row;
  }
  .addToCartButton{
    width: 200px;
    height: 30px;
    font-size: 13px;
    border: none;
    border-radius: 20px;
    background-color: #ffc800e8;
    padding: 1px 6px;
    margin-bottom: 10px;
  }
  
  .addToCartButton:hover{
    background-color: #f1bd02eB;
  }
  
  .addToCartButton:active{
    box-shadow: inset 0 0 0 2px white , 0 0 5px 1px rgba (8, 199, 233, 0.96);
    border: solid rgb(0, 112, 133) 1px;
    background-color: #f1bd02eB;    
  }
  
  .buyNowButton{
    width: 200px;
    height: 30px;
    font-size: 13px;
    border: solid #ff5900;
    border-radius: 20px;
    background-color: #ff8400;
    padding: 1px 6px;
    margin-bottom: 10px;
  }
  
  .buyNowButton:hover{
    border: solid whitesmoke 1px;
    background-color: #ff7300;
  }
  
  .buyNowButton:active{
    box-shadow: inset 0 0 0 2px white , 0 0 5px 1px rgba (8, 199, 233, 0.96);
    border: solid rgb(0, 112, 133) 1px;
    background-color: #ff7300; 
  }
  
  .wishlistBtn{
    width: 150px;
    /* padding-left: 11px; */
     /* padding-right: 6px; */
     border: solid rgb(136, 140, 140) 0.8px;
     border-radius: 10px;
     font-size: 13px;
      height: 30px; 
     background-color: rgb(127, 180, 127);
     padding-top:  6px;
     margin-top: 3px;
  }
  
  .wishlistBtn:active{
     box-shadow: 0 0 5px 1px rgba (8, 199, 233, 0.96);
  }
  
  .lockIcon{
    background-image: url(https://m.media-amazon.com/images/G/01/x-locale/checkout/truespc/secured-ssl._CB485936932_png);
    width: 11px;
    height: 14px;
    background-size: 11px;
    display: block;
    margin-right: 10px;
  }
  
  .secureTransaction{
    display: flex;
    color: rgb(0, 113, 113);
    font-size: 14px;
    margin-bottom: 8px;
    align-items: center;
    
  }
  
  
  
  
  .relatedProducts{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
    color: black;
  }
  
 