/* .footer{
    height: 500px;
    width: 100%;
    padding: 10px;
    background-color: #232F3E;
}


*/

.goup{
    background-color:#37475A;
    height: 50px;
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.thebtn{
    color: white;
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
} 

/* New footer.css starts here-below */

.footer{
    display: block;
    text-align: center;
    /* position: fixed; */
    /* left: 0; */
    bottom: 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    z-index: 1000;

}
.footer a{
    text-decoration: none;
    color: black;
}

.footer1{
    height: 45px;
    /* align-items: center; */
    text-align: center;
    /* position: fixed; */
    width: 100%;
    font-family: 'Roboto', sans-serif;
    /* z-index: 100; */
    background-color: #37475A;
}

.footer2{
    text-align: center;
    /* position: fixed; */
    width: 100%;
    font-family: 'Roboto', sans-serif;
    /* z-index: 100; */
    background-color: #232F3E;

}

.footer2_0{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    text-align: center;
}

.footer2_1, ul {
    display: block;
    margin: 10px;
    list-style: none;
    padding: 10px;
}

.footer2_2{
height: 80px;
}

.footer3{
    display: block;
    text-align: center;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #131A22;
}

.footer3_0{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    text-align:start;
    padding: 10px;
}

.footer3_0_1_0{
    display: block;
}

.footer3_0_1_0_1{
    font-size:smaller;
    color: white;
    padding: 10px;
}