/* src/pages/SignIn.css */
.signin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #fff;
}

.signin-form {
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.signin-logo {
    width: 100px;
    margin-bottom: 20px;
}

.signin-form h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

.signin-form input {
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 5px;
    border: 1px solid #aaa;
}

.signin-form button {
    width: 100%;
    height: 30px;
    background-color: #f0c14b;
    border-color: #a88734;
    color: #111;
    cursor: pointer;
}

.signin-footer {
    margin-top: 16px;
}

.signin-footer button {
    background: none;
    border: none;
    color: #0066c0;
    cursor: pointer;
}

.signin-form a {
    color: #0066c0;
    text-decoration: none;
}

.signin-form a:hover {
    text-decoration: underline;
}



/* Register Desktop version */

.register-container{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.register-upper{
    width: 200px;
    flex: 0.7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-form{
    width: 350px;
    border-radius:10px ;
    flex: 7.5;
    margin-bottom: 20px;
    border: 1px solid lightgray;
}

.register-footer {
    width: 100%;
    flex: 2;
    background-color: #FCFCFC;
    position: relative; 
    overflow: hidden; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.register-footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, transparent, lightgray, transparent);
}
.register-link{
    font-size: 11px;
    font-weight: 600;
    /* font-weight: 100; */
}
.register-footer-links{
    width: 260px;
    display: flex;
    justify-content: space-between;
}

.register-input{
    width: 93%;
    margin-left: 13px;
    margin-bottom: 15px;
}

.register-input-field{
    width: 100%;
    border: 1px solid rgba(22, 3, 3, 0.249);
    border-radius: 5px;
    height: 35px;
}

.register-btn{
    height: 30px;
    background-color: #FFD814;
    width: 100%;
    border: none;
    border-radius: 10px;
}

.register-labels{
    font-size: 14px;
    font-weight: 600;
    color: black;
}